
/* ------------------------ NavBar ----------------------- */
.menuBar {
    overflow: hidden;
    background-color: rgb(240, 233, 233);
    /* position: fixed;
    width: 100%; */
}

.menuBar a {
    float: left;
    display: block;
    color: #199c8b;
    background-color: rgb(34, 46, 42);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.menuBar a:hover {
    /* background-color: rgba(160, 125, 125, 0.2); */
    background-color: rgba(76, 8, 94, 0.884);
    color: rgb(219, 217, 217);
}



/* --------------------------  Book Content ----------------------- */
.bookContent{
    background:aliceblue;
    padding:2px;
    width:100%;
}

.bookTable{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}


